{% extends "layout.html" %}
{% block body %}

    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-lg-2 bg-info text-white">
                <nav class="nav flex-column">
                  <a id="linkUser" class="nav-link active text-white" href="#" data-user="{{ session['username'] }}">¡Hola {{ session['username'] }}!</a>
                  <div class="row" id="rowMenu">
                      <div class="col-lg-9">
                          <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#modalListaCanales">Canales</a>
                      </div>
                      <div class="col-lg-3">
                          <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#modalCrearCanal">+</a>
                      </div>
                  </div>
                  <!-- <a class="nav-link text-light" href="#">Link</a> -->
                </nav>
            </div>
            <div id="divChat" class="col-lg-10 h-100" style="overflow-y: scroll;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a id="canal" class="nav-item nav-link font-weight-bold" href="#">Canal <span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </nav>
                <div id="chat">
                </div>
                <div class="pb-3 bg-light" style="position: sticky; bottom: 0; width: 100%;">
                    <form id="formEnviarMensaje">
                        <div class="row">
                            <div class="col-lg-11">
                                <input class="form-control" type="text" id="inputEnviarMensaje" placeholder="Envía un mensaje">
                            </div>
                            <div class="col-lg-1">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCrearCanal" tabindex="-1" role="dialog" aria-labelledby="modalCrearCanalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCrearCanalTitle">Crear canal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lbl-channelname">Nombre del canal</label>
                        <input type="text" class="form-control" name="channelname" value="" id="lbl-channelname" required>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterCrearCanal">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="buttonCrearCanal">Crear canal</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bg-info" id="modalListaCanales" tabindex="-1" role="dialog" aria-labelledby="modalListaCanalesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalListaCanalesTitle">Lista de canales</h5>
                    <button type="button" class="btn btn-success ml-auto" data-dismiss="modal" data-toggle="modal" data-target="#modalCrearCanal">Crear canal</button>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBodyListaCanales">

                    {% for canal in listaCanales %}
                        <div class="card text-center mb-3">
                            <div class="card-body">
                                <h5 class="card-title"><a class="card-link text-info canal" data-dismiss="modal" href="#">{{ canal }}</a></h5>
                                <!-- <p class="card-text"></p> -->
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="/static/home.js"></script>

    <script>
        $('#modalCrearCanal').on('hidden.bs.modal', function (e) {
            const divFooter = document.querySelector('#modalFooterCrearCanal');
            const firstChild = divFooter.firstElementChild;
            var atributo = firstChild.getAttribute('class');
            if (atributo && atributo.includes('alert')){
                divFooter.removeChild(firstChild);
            }
        })
    </script>

{% endblock %}
